.navButton {
  border-radius: 40px;
  border: 3px solid #fffcb0;
  background: #ff5f72;

  font-family: 'Inter', Arial, Helvetica, sans-serif;

  padding: 20px 52px;

  color: #fffcb0;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;

  align-self: center;

  width: 100%;

  margin-top: calc(40px - 23px);
  outline: none;
}

.navButton:active {
  background: #ff1b2b;
}
.navButton:hover {
  background: #ff9aa1;
}
