.content {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 40px 60px;
  margin: 0 auto;
}

.title {
  color: var(--text-main, #000);

  /* Fonts/Header/H2 */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: flex;
  justify-content: space-between;
}
