.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playlistsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: calc(45px - 20px);
}

.iconsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: calc(45px - 20px);
}

.iconsTitle {
  color: var(--text-main-2, #737373);

  /* Subheader/SH1 */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.iconsContainer {
  display: flex;
  gap: 34px;
}

.socialInputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
