.wrapper {
  margin-top: calc(40px - 20px);
  max-width: 100%;
}

.submitText {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.submitArrow {
  width: 32px;
  height: 32px;
}
