.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-backgrnd);
  min-height: 100vh;
  min-width: 320px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 1000px;
  width: 100%;

  margin: 100px auto;
  padding: 50px 32px;

  background-color: var(--color-backgrnd);

  border-radius: 40px;
}

.title {
  color: var(--text-main, #000);

  /* Fonts/Header/H2 */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
