.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--buttons-main-def);
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  width: 100%;
}

.wrapper:hover {
  background-color: var(--buttons-main-hov);
}

.wrapper:active {
  background-color: var(--buttons-main-act);
}

.input:disabled .wrapper {
  background-color: var(--buttons-main-disable);
}

.relative {
  position: relative;
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
