:root {
  /* gradients */
  --gradient-1-page: linear-gradient(143.66deg, #fd337e -1.49%, #fce942 99.22%);
  --gradient-backgrnd: linear-gradient(107.46deg, #ff709f 0.36%, #ffed76 100.3%);

  /* buttons */
  --buttons-stroke-def: #fffcb0;
  --buttons-stroke-act: #ff4d5a;
  --buttons-stroke-hov: #ff9aa1;

  --buttons-main-def: #fdc74f;
  --buttons-main-act: #ffb30a;
  --buttons-main-hov: #ffdd92;
  --buttons-main-disable: #d4d4d4;

  /* secondary color */
  --color-backgrnd: #ffffff;
  --color-tooltip-1: #fff5e7;
  --color-tooltip-2: #ffefb3;
  --color-picker: #ffefb3;

  /* text */
  --text-1-page: #fffcb0;
  --text-main: #000000;
  --text-main-2: #737373;
  --text-tooltip: #949292;
  --text-button: #ffffff;
  --text-button2: #ff599d;

  /* icons */
  --icons-def: #707070;
  --icons-act: #fe387d;

  /* outline */
  --outline-field: #d9d9d9;
  --outline-broken-stroke: #ffd59b;
  --outline-error: #ff7697;
  --outline-field-active: #fdc74f;
  --outline-success: #a0ff95;
}
