:root {
  /* gradients */
  --gradient1Page: linear-gradient(143.66deg, #fd337e -1.49%, #fce942 99.22%);
  --gradientBackground: linear-gradient(107.46deg, #ff709f 0.36%, #ffed76 100.3%);

  /* buttons */
  --buttonsStrokeDef: #fffcb0;
  --buttonsStrokeAct: #ff4d5a;
  --buttonsStrokeHov: #ff9aa1;

  --buttonsMainDef: #fdc74f;
  --buttonsMainActive: #ffb30a;
  --buttonsMainHover: #ffdd92;
  --buttonsMainDisabled: #d4d4d4;

  /* secondary color */
  --background: #ffffff;
  --tooltip1: #fff5e7;
  --tooltip2: #ffefb3;
  --picker: #ffefb3;

  /* text */
  --text1Page: #fffcb0;
  --textMain: #000000;
  --textMain2: #737373;
  --textTooltip: #949292;
  --textButton: #ffffff;
  --textButton2: #ff599d;

  /* icons */
  --iconsDef: #707070;
  --iconsAct: #fe387d;

  /* outline */
  --outlineField: #d9d9d9;
  --outlineBrokenStroke: #ffd59b;
  --outlineError: #ff7697;
  --outlineFieldActive: #fdc74f;
  --outlineSuccess: #a0ff95;
}
