.wrapper {
  position: relative;
  min-height: 60px;
  background-color: var(--color-tooltip-1);
  border: 1px dashed var(--outline-broken-stroke);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapperHover {
  background-color: var(--buttons-main-hov);
}

.wrapperError {
  border-radius: 8px;
  border: 2px dashed #ff9cb4;
  background: #ffcad6;
}

.input {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: -1;
}

.defaultChild {
  color: var(--text-tooltip);
  display: flex;
  align-items: center;
  gap: 10px;
}

.defaultText {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
