.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textMain2);

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.textArea {
  padding: 16px;
  border: 1px solid var(--outlineField);
  outline: none;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--textMain);

  min-height: 140px;
  resize: none;

  border-radius: 8px;
  overflow-y: hidden;
}

.textArea:focus {
  border: 1px solid var(--outlineFieldActive);
}

.errorTextArea {
  border: 1px solid var(--outlineError);
}

.errorMessage {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: var(--outlineError);
}
