.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lyricNoticeWrapper {
  display: flex;
  justify-content: center;
}

.lyricNotice {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.trackNotice {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trackNoticeTitle {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.trackNoticeSubtitle {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
