.wrapper {
  display: flex;
  flex-direction: column;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  gap: 10px;
}

.textWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textMain2);
}

.container {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  user-select: none;
  padding: 0;
  font-size: 16px;
}

.container:focus .upperMenu {
  border-color: var(--outlineFieldActive);
  border-radius: 8px 8px 0 0;
}

.upperMenu {
  color: var(--textMain);
  padding: 20px 16px;
  border: 1px solid var(--outlineField);
  border-radius: 8px;
  outline: none;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  user-select: none;
  cursor: pointer;

  display: flex;
  align-items: center;

  height: 60px;
}

.upperMenuError {
  border: 1px solid var(--outlineError);
}

.valueWrapper {
  flex-grow: 1;
}

.valueWrapperPlaceholder {
  font-size: 14px;
  line-height: 17px;
  color: var(--textTooltip);
}

.arrow {
  background-image: url('../../../../images/BackArrow.svg');
  background-size: cover;
  width: 10px;
  height: 17px;
  transform: rotate(-90deg);
}

.arrowOpen {
  transform: rotate(90deg);
}

.optionsMain {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  width: 100%;

  box-sizing: border-box;
  background-color: var(--background);

  overflow-y: auto;
  border: none;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--textTooltip);
}

.options {
  composes: optionsMain;
}

.optionsAbsolute {
  position: absolute;
  top: calc(100%);
  left: 0;
  z-index: 100;
  composes: optionsMain;
  border: 1px solid var(--outlineFieldActive);
  border-radius: 0 0 10px 10px;
}

.optionsShow {
  display: block;
}

.option {
  padding: 11.5px 16px;
  cursor: pointer;
  max-height: 40px;
}

.optionSelected {
  background-color: var(--background);
}

.optionHighlighted {
  background-color: var(--picker);
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.errorMessage {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: var(--outlineError);
}
